:root {
  --card-bg-color: white;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background: var(--card-bg-color);
  padding: 20px;
  margin: 40px 32px 16px;
  border-radius: 4px;
  box-shadow: 0 4px 15px 0 rgb(82 101 112 / 15%);
  border: solid 1px #e8ebed;
}

.card--title {
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI', 'Ubuntu', 'Roboto', 'Open Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 2em;
  font-weight: lighter;
  margin-top: 0.25em;
  color: #222;
  letter-spacing: 2px;
}

.card--body {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  align-content: space-around;
}

.card--body-item {
  margin-bottom: 0.5em;
  color: #444;
  font-weight: lighter;
}

.card--body-item > input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}



.card--buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}

.card--buttons > button {
  min-width: 100%;
  cursor: pointer;
  margin-right: 0.25em;
  margin-top: 0.5em;
  padding: 0.938em;
  border: none;
  border-radius: 4px;
  background-color: #22223b;
  color: #fefefe;
}
button:hover {
  background-color: #4a4e69;
  color: #fefefe;
}

@media (min-width: 480px) {
  .card {
    max-width: 800px;
    align-items: center;
  }
}
