.main {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  flex-wrap: wrap;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;
  background-color: white;
  border-radius: 1vw;
  margin: 24px;
  max-width: 1200px;
  /* min-height: 500px; */
}

@media(min-width: 1200px){
  .main{
    margin: auto;
  }
}

.main-content {
  margin-bottom: 10px;
  width: 100%;
}

.group-wrapper{
  margin-bottom: 10px;
  margin-top: 10px;
}

 @media(min-width: 520px) {
  .main-content{
    display: flex;
    flex-wrap: wrap;
  }

  .group-wrapper{
    margin-bottom: 0;
  }
  
}

.main-content > .group-wrapper {
  margin-right: 10px;
}

.title {
  text-align: center;
  font-family: Lato;
}

.body > .card{
  margin: auto;
}
