

.group-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
    background-color: #eee8f4;
    border-radius: 1vw;
}

.group-heading-icons{
    display: flex;
    flex-direction: row;
    gap:1vw;
    align-items: center;
}

.group-heading{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap:4vw;
    padding-left: 5px;
    padding-right: 5px;
}

.group-name{
    font-weight:bold;
    font-size: 20px;
}